@import url(/normalize.css);
@import url(/milligram.css);

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/roboto_regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --accent: #ff6600;
  --accent-background: #d1d1d1;
  --background: #f4f5f6;
}

body {
  font-weight: 400;
}

a {
  color: var(--accent);
}

input:hover {
  border-color: var(--accent) !important;
}

input:active {
  border-color: var(--accent) !important;
}

input:focus {
  border-color: var(--accent) !important;
}

button {
  background-color: var(--accent);
  border-color: var(--accent);
}

pre {
  border-left-color: var(--accent);
}

.anchor {
  padding-top: 7rem;
  margin-top: -7rem;
}

.icon {
  font-size: 3rem;
}

.mobile-hidden {
  display: none;
}

.container {
  max-width: 92rem;
}

main > header {
  background-color: var(--background);
  border-bottom: 0.1rem solid var(--accent-background);
  height: 5.2rem;
  line-height: 5.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

main > header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

main > header img {
  height: 3.8rem;
}

main > .content {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

main > .content:has(#module-docs) {
  display: flex;
}

main > .content .inline_form {
  display: flex;
}

main > .content .inline_form > input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: transparent;
}

main > .content .inline_form > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: transparent;
}

main > .content ul.package-list {
  list-style: none;
}

main > .content ul.package-list > li {
  margin-bottom: 2rem;
}

main > .content ul.package-list > li > .package-name {
  font-size: 2rem;
}

main > .content ul.package-list > li > .package-version {
  display: inline;
  font-size: 1rem;
  margin-left: 0.5rem;
}

main > .content > #module-docs {
  width: 70rem;
}

main > .content > #module-docs h1 {
  font-size: 3.6rem;
}

main > .content > #module-docs h2 {
  font-size: 2.8rem;
}

main > .content > #module-docs h3 {
  font-size: 2.2rem;
}

main > .content > #module-docs > .block {
  margin-bottom: 3rem;
}

main > .content > #module-docs > .block .definition {
  display: inline-block;
  font-size: 2rem;
}

main > .content > #module-docs > .union .definition .indented:last-child {
  margin-bottom: 1rem;
}

main > .content > #module-docs > .alias .definition .indented:last-child {
  margin-bottom: 1rem;
}

main > .content > #module-docs > .block .definition .indented {
  padding-left: 3rem;
}

main > .content > #module-docs > .block .comment p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main > .content > #package-links {
  width: 22rem;
  vertical-align: top;
  padding-left: 3rem;
}

main > .content > #package-links h3 > small {
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

main > .content > #package-links h4 {
  margin-bottom: 1rem;
}

main > .content > #package-links ul {
  list-style: none;
}

@media only screen and (max-width: 60rem) {
  main > .content:has(#module-docs) {
    flex-direction: column;
  }

  main > .content > #module-docs {
    width: auto;
  }

  main > .content > #package-links {
    width: auto;
    vertical-align: top;
    padding-left: 0;
  }

  .mobile-hidden {
    display: block;
  }
}
