<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" sizes="192x192" type="image/png" href="/favicon.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="/favicon.png"/>

<%_ if(refresh) { -%>
    <meta http-equiv="refresh" content="<%- refresh %>" />
<%_ } -%>
</head>
<body>
    <main>
        <header>
            <nav class="container">
                <a href="/" title="Gren Package Search">
                    <img src="/big_icon.png" alt="Robin, the Gren mascot">
                </a>
                <a href="/import/init" title="Import new package">Import</a>
            </nav>
        </header>
        <section class="container content">
