<%_ if (sideButtonType === 'IMPORT') { %>
<a href="/import/init" title="Import new package">Import</a>
<%_ } else if (sideButtonType === 'PACKAGE_LINKS') { %>
<a href="#package-links" title="Package shortcuts" class="icon mobile-hidden">☰</a>
<%_ } %>
