<%- include('/header.ejs', { refresh: false }) -%>
    <form method="post">
        <label for="package_name">Import package</label>
        <div class="inline_form">
            <input id="package_name" name="packageName" type="text" placeholder="author/project" />
            <button type="submit">Add</button>
        </div>
    </form>
<%- include('/footer.ejs') -%>
