<%- include('/header.ejs', { title: `${packageNameShort} ${packageVersion} | Packages`, refresh: false, sideButtonType: 'PACKAGE_LINKS' }) -%>
    <section id="module-docs">
        <%- readme %>
    </section>

    <%- include('/package_sidebar.ejs', { packageNameShort, packageVersion, exposedModules }) -%>
<%- include('/footer.ejs') -%>
