<%- include('/header.ejs', { title: packageName, description: packageSummary, refresh: false, sideButtonType: 'PACKAGE_LINKS' }) -%>
    <section id="module-docs">
        <%- readme %>
    </section>

    <%- include('/package_sidebar.ejs', {}) -%>
<%- include('/footer.ejs') -%>
