<%- include('/header.ejs', { refresh: false }) -%>
    <section id="module-docs">
        <%- readme %>
    </section>

    <%- include('/package_sidebar.ejs', { exposedModules }) -%>
<%- include('/footer.ejs') -%>
