<%- include('/header.ejs', { refresh: false }) -%>
    <section id="module-page">
        <%- include('/package_sidebar.ejs', { exposedModules }) -%>
        <section>
            <%- readme %>
        </section>
    </section>
<%- include('/footer.ejs') -%>
