<%- include('/header.ejs', { refresh: false, sideButtonType: 'NONE' }) -%>

    <form class="inline_form" action="/package/search" method="get">
        <input id="query" name="query" placeholder="Search for package" type="search" />
        <button type="submit">Search</button>
    </form>

    <h2>Results for '<%= query %>'</h2>

    <%- include('/package_list.ejs', { packages: results }) -%>
<%- include('/footer.ejs') -%>
