<%- include('/header.ejs', { title: 'Rate Limit | Packages', refresh: false, sideButtonType: 'NONE' }) -%>
    <h1>Sorry, we're swamped</h1>
    <p>We're currently receiving more requests than we can handle, please wait for a moment then try again.</p>
<%- include('/footer.ejs') -%>
