<%- include('/header.ejs', { refresh: false }) -%>
    <h1>Welcome to the Gren package site</h1>

    <div><a href="/import/init">Add a package</a></div>

    <form action="/package/search" "method="post">
        <input id="query" "type="search" name="query" />
        <button type="submit">Search</button>
    </form>
<%- include('/footer.ejs') -%>
