<%- include('/header.ejs', { title: 'Gren Packages', refresh: false, sideButtonType: 'IMPORT' }) -%>
    <form class="inline_form" action="/package/search" method="get">
        <input id="query" name="query" placeholder="Search for package" type="search" autofocus />
        <button type="submit">Search</button>
    </form>

    <h2>Core packages</h2>
    <%- include('/package_list.ejs', { packages: corePackages }) -%>

    <h2>Recently updated</h2>
    <%- include('/package_list.ejs', { packages: recentlyUpdated }) -%>
<%- include('/footer.ejs') -%>
